	<!--<div id="footer">
		<s:div id="copyright">
			<p>
				Copyright &copy 2013 TONINAS GROUP. All rights reserved.
				<br>
				Powered by <a href="http://struts.apache.org/development/2.x/">Struts 2<a>
			</p>
		</s:div>
	</div>-->
	</body>
</html>