#copyright {font-size:.9em; color:#999;	padding-top:3px;	text-align:center;}
#copyright p {margin:0;}
#copyright a {font-weight:bold; color:#aaa; text-decoration:none;}
#copyright a:hover {color:#555; background:none;}
#footer {
    position: absolute;
	top:99%;
    bottom:15px;
    right:22%;
    left:22%;
} 
