input, select, textarea, button {
  font-family: "Helvetica Neue", Helvetica, Clean, Arial, sans-serif;  
  font-size: 99%;
}
input, textarea {
  font-size: 1.077em;
  line-height: 1.3em;
}
textarea.form-textarea, textarea {
  background-color: #fff;
  border: solid 2px #e6e4de;
  padding: 0.5em;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-radius: 3px 3px 0 0;
}
input.form-text,
input[type=text],
select[multiple=multiple] {
  background-color: #fff;
  border: solid 2px #e6e4de;
  padding: 0.3em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
select {
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button,
input[type=submit],
input.form-submit,
.form-actions a,
.form-actions a:visited,
.button, a.button, a.button:visited {
  background: #e6e4e2 url(../images/ui/ui-bg_highlight-soft_90_e6e4e2_1x100.png) 50% 50% repeat-x;
  border: 1px solid #e6e4e2;
  border-bottom-color: #bbb;
  border-right-color: #bbb;
  color: #000;
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em 1em;
  margin: 0 0.5em 0 0;
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
button:hover,
input[type=submit]:hover,
input.form-submit:hover,
.form-actions a:hover,
.form-actions a:focus,
.form-actions a:active,
.button:hover,
a.button:hover,
a.button:focus,
a.button:active {
  background: #d6d4d1 url(../images/ui/ui-bg_highlight-soft_50_d6d4d1_1x100.png) 50% 50% repeat-x;
  border: 1px solid #e1dedb;
  border-bottom-color: #aaa;
  border-right-color: #aaa;
  color: #000;
  cursor: pointer;
}
textarea:focus,
input[type=password]:focus,
input[type=text]:focus,
select[multiple=multiple]:focus {
  outline: 0;
  -moz-box-shadow: 0 0 10px rgba(169,169,169,0.5);
  -webkit-box-shadow: 0 0 10px rgba(169,169,169,0.5);
  border-color: rgba(213,213,213,0.7);
}